/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* body font family */
body {
  font-family: "Roboto", sans-serif;
}

/* heading font family set */
/* group selector */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.2;
}

/* box */
.box {
  background-color: pink;
}

.box p {
  color: red;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  /* letter-spacing: 20px; */
  /* word-spacing: 20px; */
  text-align: left; /*left center right justify*/
  text-indent: 120px;
}

.box h1 {
  color: green;
  text-align: center;
  text-decoration: underline; /*underline overline line-through*/
  text-transform: capitalize ; /*uppercase lowercase*/
  font-style: italic;
}
